@charset "utf-8";
/* CSS Document */

@media (min-width: 1850px) and (max-width: 1920px){
	
}
@media (min-width: 1700px) and (max-width: 1850px){
	.about-bg-1 img {top: 70%;left: -20%;}
    .about-bg-1 img {width: 62% !important;height: 410px !important;}

    .custom-header .nav-item {padding: 0 0 0 42px;}
}

@media (min-width: 1600px) and (max-width: 1700px){
	.custom-header::after {width: 280px;}
    .custom-header::before {left: 280px;}
    .custom-header .nav-item {padding: 0 0 0 31px;}
    .custom-banner .banner-wrap {padding: 190px 0;}
    .banner-content h1 {font-size: 65px;padding-right: 590px;}
    .custom-heading h2 {font-size: 60px;}
    .gallery-text {padding-left: 170px;}
    .testimonial.custom-pad .custom-heading {padding: 0px 210px;}
    .our-company-heading .heading-1 {font-size: 50px;}
    .custom-footer.custom-pad .footer-wrap {padding: 0 50px 0 120px;}
    .footer-box.padding .footer-list {padding-left: 40px;}
    .about.custom-pad {padding-bottom: 282px;}
    .procedure-pattern-1 img {width: 80%;}
    .procedure-pattern-1 {right: -15%;bottom: 38%;}
    .procedure-pattern-2 {bottom: 40%;right: 30%;}
    .procedure-pattern img {width: 70%;}
    .procedure-pattern {top: -10px;left: -70px;}
    .about-bg-1 img {width: 54% !important;height: 355px !important;}
    .about-bg-1 img {top: 74%;left: -10%;}
    .procedure-pattern-1 {right: 0;text-align: end;}

    .testimonial-content .custom-paragraph {padding: 0 170px;font-size: 19px;line-height: 39px;}
    /*About-us*/
    .about.inner.custom-pad {padding-bottom: 190px;}
    /*Contact Us*/
    .contact-inner.custom-pad .custom-heading {padding: 0px 340px;}
    
}
@media (min-width: 1500px) and (max-width: 1600px){
    .custom-header .nav-item {padding: 0 0 0 21px;}
}
@media (min-width: 1400px) and (max-width: 1500px){
    .custom-header .nav-item {padding: 0 0 0 11px;}
    .container {padding-right: 3.5rem;padding-left: 3.5rem;}
}
@media (min-width: 1366px) and (max-width: 1400px){
    .custom-header .nav-item {padding: 0 0 0 10px;}
    .container {padding-right: 3rem;padding-left: 3rem;}
}

@media (min-width: 1366px) and (max-width: 1600px){
    .custom-header::after {width: 230px;}
    .custom-header::before {left: 230px;}
    .custom-banner .banner-wrap {padding: 190px 0;}
    .banner-content h1 {font-size: 60px;padding-right: 650px;}
    .custom-heading h2 {font-size: 40px;}
    .gallery-text {padding-left: 170px;}
    .testimonial.custom-pad .custom-heading {padding: 0px 360px;}
    .our-company-heading .heading-1 {font-size: 46px;}
    .custom-footer.custom-pad .footer-wrap {padding: 0 10px 0 15px;}
    .footer-box.padding .footer-list {padding-left: 40px;}
    .header-logo {left: 50px !important;}
    .custom-header .header-nav {padding: 0 30px 0 0;}
    .custom-header .header-top_content.d-flex.justify-content-end {padding: 0 30px 0 0px;}
    .custom-header .header-contact li a {font-size: 30px;}
    .about.custom-pad .about-img {text-align: center;}
    .about.custom-pad .about-img img {width: 80%;}
    .about-bg-2 img {right: -5%;}
    .about-content {padding: 0 0px 0 40px;}
    .surgery-img img {width: 45%;height: 640px;}
    .counter-part .counter-text li {font-size: 60px;}
    .counter-part {margin-top: 35px;}
    .procedures-bottom {margin-top: 70px;}
    .procedures-content .custom-paragraph.procedures-para {margin-top: 40px;}
    .testimonial-content {margin-top: 50px;}
    .testimonial.custom-pad .quote-img img {margin-bottom: 30px;}
    .testimonial.custom-pad .client-img {margin-top: 25px;}
    .testimonial-content h4 {padding-top: 15px;}
    .testimonial-content h6 {padding-top: 5px;}
    .about.custom-pad {padding-bottom: 282px;}
    .procedure-pattern-1 img {width: 50%;}
    .procedure-pattern-1 {right: 0;text-align: end;bottom: 42%;}
    .procedure-pattern-2 {bottom: 43%;right: 20%;}
    .procedure-pattern img {width: 50%;}
    .procedure-pattern {top: 0px;left: 0px;}
    .about-bg-1 img {width: 40% !important;height: 255px !important;}
    .about-bg-1 img {top: 80%;left: 0%;}
    .procedures.custom-pad {padding-bottom: 140px;}
    .gallery.custom-pad {padding-bottom: 105px;}
    .our-company.custom-pad {padding: 100px 0;}
    .our-company-heading {padding-left: 120px;}
    .our-company-content {padding-right: 120px;}

    .testimonial-content .custom-paragraph {padding: 0 170px;font-size: 17px;line-height: 35px;}
    /*About-us*/
    .about.inner.custom-pad {padding-bottom: 190px;}
    .custom-inner-banner {padding: 110px 0;}
    .custom-inner-banner .inner-banner-content h1 {font-size: 60px;}
    .about-inner-counter-content .count-number-and-unit.secondary-font {font-size: 70px;}
    /*Gallery*/
    .gallery-inner-content-left::after {height: 130px;right: 20px;}
    /*Contact Us*/
    .contact-inner.custom-pad .custom-heading {padding: 0px 340px;}
    /*Procedures*/
    .pro-inner.custom-pad .demo {font-size: 17px;line-height: 35px;}
    /*Procedures Inner*/
    .procedurs-inner-img {margin-top: 50px;}
    .procedurs-inner-content {margin-top: 50px;}
    

}
@media (min-width: 1300px) and (max-width: 1366px){
    .custom-header .nav-item {padding: 0 0 0 10px;}
    .container {padding-right: 3rem;padding-left: 3rem;}
}
@media (min-width: 1250px) and (max-width: 1300px){
    .custom-header .nav-item {padding: 0 0 0 10px;}
    .container {padding-right: 3rem;padding-left: 3rem;}
}
@media (min-width: 1200px) and (max-width: 1250px){
    .custom-header .nav-item {padding: 0 0 0 7px;}
    .container {padding-right: 2.5rem;padding-left: 2.5rem;}
}
@media (min-width: 1200px) and (max-width: 1366px){
    .custom-header::after {width: 180px;}
    .custom-header::before {left: 180px;}

    .custom-banner .banner-wrap {padding: 150px 0;}
    .banner-content h1 {font-size: 55px;padding-right: 510px;}
    .custom-heading h2 {font-size: 40px;}
    .gallery-text {padding-left: 100px;}
    .testimonial.custom-pad .custom-heading {padding: 0px 260px;}
    .our-company-heading .heading-1 {font-size: 42px;}
    .custom-footer.custom-pad .footer-wrap {padding: 0 15px 0 15px;}
    .footer-box.padding .footer-list {padding-left: 40px;}
    .header-logo {left: 20px !important;}
    .custom-header .header-nav {padding: 0 15px 0 0;}
    .custom-header .header-top_content.d-flex.justify-content-end {padding: 0 15px 0 0px;}
    .custom-header .header-contact li a {font-size: 30px;}
    .about.custom-pad .about-img {text-align: center;}
    .about.custom-pad .about-img img {width: 90%;height: 600px;}
    .about-bg-2 img {width: 9% !important;height: 50px !important;}
    .about-bg-2 img {right: -9%;}
    .about-content {padding: 0 0px 0 40px;}
    .surgery-img img {width: 45%;height: 640px;}
    .counter-part .counter-text li {font-size: 60px;}
    .counter-part {margin-top: 20px;}
    .procedures-content .custom-paragraph.procedures-para {margin-top: 40px;}
    .testimonial-content {margin-top: 50px;}
    .testimonial.custom-pad .quote-img img {margin-bottom: 20px;}
    .testimonial.custom-pad .client-img {margin-top: 25px;}
    .testimonial-content h4 {padding-top: 15px;}
    .testimonial-content h6 {padding-top: 5px;}
    .custom-header .header-contact li h5 {font-size: 13px;}
    .custom-pad {padding: 100px 0;}
    .about-content .custom-paragraph {margin-top: 20px;}
    .about.custom-pad {padding-bottom: 200px;}
    .counter-part .counter-text li .custom-paragraph {margin-top: 15px;}
    .counter-part .counter-text li h3 {font-size: 26px;}
    .procedures-bottom-text h4 {font-size: 16px;padding: 15px 45px;}
    .procedures-bottom-text {bottom: -25px;}
    .custom-paragraph {font-size: 17px ;line-height: 35px;}
    .custom-footer.custom-pad {padding: 140px 0 0;}
    .footer-box .footer-list li {font-size: 15px;}
    .copyright {margin-top: 100px;}
    .copyright .custom-paragraph {font-size: 15px;}
    .about.custom-pad {padding-bottom: 282px;}
    .procedure-pattern-1 img {width: 50%;}
    .procedure-pattern-1 {right: 0;text-align: end;bottom: 36%;}
    .procedure-pattern-2 {bottom: 38%;right: 25%;}
    .procedure-pattern img {width: 50%;}
    .procedure-pattern {top: 0px;left: 0px;}
    .about-bg-1 img {width: 40% !important;height: 255px !important;}
    .about-bg-1 img {top: 80%;left: 0%;}
    .procedures.custom-pad {padding-bottom: 125px;}
    .gallery.custom-pad {padding-bottom: 105px;}
    .our-company.custom-pad {padding: 100px 0;}
    .procedures-bottom {margin-top: 150px;}
    .our-company-heading {padding-left: 120px;}
    .our-company-content {padding-right: 120px;}
    .custom-header .header-nav .nav-link {font-size: 16px;}
    .footer-box .custom-paragraph {font-size: 15px;}
    .testimonial-content .custom-paragraph {padding: 0 170px;font-size: 17px;line-height: 35px;}
    .custom-header .header-contact .header-call-contact li span {font-size: 25px;}
    /*About-us*/
    .about.inner.custom-pad {padding-bottom: 170px;}
    .custom-inner-banner {padding: 110px 0;}
    .custom-inner-banner .inner-banner-content h1 {font-size: 60px;}
    .about-inner-counter-content .count-number-and-unit.secondary-font {font-size: 70px;}
    .about-service-box-content .about-service-box-icon {font-size: 50px;}
    .about-inner-counter-content h4 {font-size: 26px;}
    .about-inner-counter-content::after {height: 160px;}
    /*Gallery*/
    .gallery-inner-content-left::after {height: 140px;right: 10px;}
    /*Contact Us*/
    .contact-inner.custom-pad .contact-form {margin-top: 50px;}
    .contact-inner.custom-pad .custom-heading {padding: 0px 260px;}
    /*Procedures*/
    .pro-inner.custom-pad .demo {font-size: 16px;line-height: 32px;}
    /*Procedures Inner*/
    .procedurs-inner-img {margin-top: 50px;}
    .procedurs-inner-content {margin-top: 50px;}
    /*Testimonial*/
    .testimonial-inner.custom-pad .custom-heading {margin-bottom: 60px;}

}

@media (min-width: 1024px) and (max-width: 1200px){
    .custom-header::after {width: 150px;}
    .custom-header::before {left: 150px; border-top: 57px solid transparent;border-left: 40px solid var(--c-black-900);border-bottom: 81px solid transparent;}
    .custom-header .nav-item {padding: 0 0 0 7px;}
    .custom-banner .banner-wrap {padding: 150px 0;}
    .banner-content h1 {font-size: 50px;padding-right: 390px;}
    .custom-heading h2 {font-size: 40px;}
    .gallery-text {padding-left: 60px;}
    .testimonial.custom-pad .custom-heading {padding: 0px 220px;}
    .our-company-heading .heading-1 {font-size: 38px;}
    .custom-footer.custom-pad .footer-wrap {padding: 0 15px 0 15px;}
    .footer-box.padding .footer-list {padding-left: 20px;}
    .header-logo {left: 20px !important;bottom: 26px !important;}
    .custom-header .header-nav {padding: 0 15px 0 0;}
    .custom-header .header-top_content.d-flex.justify-content-end {padding: 0 15px 0 0px;}
    .custom-header .header-contact li a {font-size: 20px;}
    .about.custom-pad .about-img {text-align: center;}
    .about.custom-pad .about-img img {width: 90%;height: 600px;}
    .about-bg-2 img {width: 9% !important;height: 50px !important;}
    .about-bg-2 img {right: -9%;}
    .about-content {padding: 0 0px 0 40px;}
    .surgery-img img {width: 45%;height: 640px;}
    .counter-part .counter-text li {font-size: 50px;}
    .counter-part {margin-top: 20px;}
    .procedures-content .custom-paragraph.procedures-para {margin-top: 40px;}
    .testimonial-content {margin-top: 50px;}
    .testimonial.custom-pad .quote-img img {margin-bottom: 20px;}
    .testimonial.custom-pad .client-img {margin-top: 25px;}
    .testimonial-content h4 {padding-top: 15px;}
    .testimonial-content h6 {padding-top: 5px;font-size: 14px;}
    .custom-header .header-contact li h5 {font-size: 13px;}
    .custom-pad {padding: 80px 0;}
    .about-content .custom-paragraph {margin-top: 20px;}
    .about.custom-pad {padding-bottom: 170px;}
    .counter-part .counter-text li .custom-paragraph {margin-top: 15px;line-height: 26px;}
    .counter-part .counter-text li h3 {font-size: 24px;}
    .procedures-bottom-text h4 {font-size: 16px;padding: 15px 45px;}
    .procedures-bottom-text {bottom: -25px;}
    .custom-paragraph {font-size: 16px;line-height: 32px;}
    .custom-footer.custom-pad {padding: 120px 0 0;}
    .footer-box .footer-list li {font-size: 14px;}
    .copyright {margin-top: 80px;}
    .copyright .custom-paragraph {font-size: 14px;}
    .header-logo .navbar-brand.ms-0.py-0 img {height: 80px; display: inline-block;}
    .custom-header .header-top {padding: 0px 0;}
    .custom-header .header-nav .nav-link {font-size: 15px;}
    .custom-header .header-top .demo.d-none.d-sm-block {font-size: 12px;}
    .custom-header .header-top_content.d-flex.justify-content-end .d-flex.header-top_contact li::after {height: 57px !important;}
    .custom-header .header-contact li a {padding-right: 2px;}
    .custom-heading h5 {font-size: 18px;margin-bottom: 5px;}
    .counter-part .counter-text li .custom-paragraph {font-size: 15px;}
    .procedures-content .custom-paragraph.procedures-para::after {width: 80px;top: 16px;}
    .procedures-content .custom-paragraph.procedures-para {padding: 0 0px 0 90px;}
    .procedures-btn {margin-top: 30px;}
    .galley-btn {margin-top: 20px;}
    .footer-box .custom-paragraph {font-size: 14px;line-height: 28px;}
    .about.custom-pad {padding-bottom: 210px;}
    .procedure-pattern-1 img {width: 50%;}
    .procedure-pattern-1 {right: 0;text-align: end;bottom: 36%;}
    .procedure-pattern-2 {bottom: 37%;right: 28%;}
    .procedure-pattern img {width: 50%;}
    .procedure-pattern {top: 0px;left: 0px;}
    .about-bg-1 img {width: 40% !important;height: 225px !important;}
    .about-bg-1 img {top: 80%;left: 0%;}
    .procedures.custom-pad {padding-bottom: 115px;}
    .gallery.custom-pad {padding-bottom: 95px;}
    .procedures-bottom {margin-top: 90px;}
    .testimonial.custom-pad {padding-bottom: 80px;}
    .our-company.custom-pad {padding: 80px 0;}
    .our-company-heading {padding-left: 50px;}
    .our-company-content {padding-right: 50px;}
    .custom-header .header-nav .nav-link {font-size: 14px;letter-spacing: 0;}
    .footer-box.contact .footer-list li span {font-size: 24px;}
    .footer-box .footer-list h4 {font-size: 18px;}
    .footer-box .custom-paragraph {font-size: 14px;}
    .testimonial-content .custom-paragraph {padding: 0 170px;font-size: 16px;line-height: 32px;}
    .custom-header .header-contact .header-call-contact li span {font-size: 25px;}
    .container {padding-right: 2rem;padding-left: 2rem;}
    /*About-us*/
    .about.inner.custom-pad {padding-bottom: 130px;}
    .custom-inner-banner {padding: 90px 0;}
    .custom-inner-banner .inner-banner-content h1 {font-size: 55px;}
    .about-inner-counter-content .count-number-and-unit.secondary-font {font-size: 60px;}
    .about-service-box-content .about-service-box-icon {font-size: 40px;}
    .about-inner-counter-content h4 {font-size: 24px;}
    .about-service-box-content {padding: 20px 20px;}
    .about-service-box-content h3 {font-size: 24px;}
    .about-inner-counter-content::after {height: 150px;}
    /*Gallery*/
    .gallery.custom-pad.gallery-inner .gallery-inner-btn {margin-top: 50px;}
    .gallery-inner-content-left::after {height: 140px;right: 10px;}
    /*Contact Us*/
    .contact-inner.custom-pad .contact-form {margin-top: 50px;}
    .contact-inner.custom-pad .custom-heading {padding: 0px 220px;}
    .contact-inner.custom-pad .contact-form .form-btn {margin-top: 25px;}
    /*Procedures*/
    .pro-inner.custom-pad .demo {font-size: 16px;line-height: 30px;}
    /*Procedures Inner*/
    .procedurs-inner-img {margin-top: 35px;}
    .procedurs-inner-content {margin-top: 35px;}
    /*Testimonial*/
    .testimonial-inner.custom-pad .custom-heading {margin-bottom: 60px;}
    .teti-wrap {padding: 30px 30px;}
    .teti-wrap .custom-paragraph {padding: 40px 0 20px;}
    .teti-wrap h4 {font-size: 22px !important;}
    .teti-wrap .client-img {margin-bottom: 10px;}
    .teti-wrap .client-img img {width: 80px;height: 80px;}
}

@media (min-width: 992px) and (max-width: 1024px) {
	.custom-header::after {width: 120px;}
    .custom-header::before {left: 120px; border-top: 57px solid transparent;border-left: 40px solid var(--c-black-900);border-bottom: 81px solid transparent;}
    .custom-header .nav-item {padding: 0 0 0 3px;}
    .custom-banner .banner-wrap {padding: 130px 0;}
    .banner-content h1 {font-size: 50px;padding-right: 360px;}
    .custom-heading h2 {font-size: 40px;}
    .gallery-text {padding-left: 60px;}
    .testimonial.custom-pad .custom-heading {padding: 0px 200px;}
    .our-company-heading .heading-1 {font-size: 35px;margin-top: 10px;}
    .custom-footer.custom-pad .footer-wrap {padding: 0 15px 0 15px;}
    .footer-box.padding .footer-list {padding-left: 20px;}
    .header-logo {left: 10px !important;bottom: 24px !important;}
    .custom-header .header-nav {padding: 0 15px 0 0;}
    .custom-header .header-top_content.d-flex.justify-content-end {padding: 0 15px 0 0px;}
    .custom-header .header-contact li a {font-size: 20px;}
    .about.custom-pad .about-img {text-align: center;}
    .about.custom-pad .about-img img {width: 90%;height: 600px;}
    .about-bg-2 img {width: 9% !important;height: 40px !important;}
    .about-bg-2 img {right: -9%;}
    .custom-header .header-contact {padding-left: 0px;}
    .about-content {padding: 0 0px 0 20px;}
    .surgery-img img {width: 45%;height: 640px;}
    .counter-part .counter-text li {font-size: 50px;}
    .counter-part {margin-top: 20px;}
    .procedures-content .custom-paragraph.procedures-para {margin-top: 40px;}
    .testimonial-content {margin-top: 50px;}
    .testimonial.custom-pad .quote-img img {margin-bottom: 20px;}
    .testimonial.custom-pad .client-img {margin-top: 25px;}
    .testimonial-content h4 {padding-top: 15px;}
    .testimonial-content h6 {padding-top: 5px;font-size: 14px;}
    .custom-header .header-contact li h5 {font-size: 13px;}
    .custom-pad {padding: 80px 0;}
    .about-content .custom-paragraph {margin-top: 20px;}
    .about.custom-pad {padding-bottom: 170px;}
    .counter-part .counter-text li .custom-paragraph {margin-top: 15px;line-height: 26px;}
    .counter-part .counter-text li h3 {font-size: 24px;}
    .procedures-bottom-text h4 {font-size: 16px;padding: 15px 25px;}
    .procedures-bottom-text {bottom: -25px;}
    .custom-paragraph {font-size: 16px;line-height: 30px;}
    .custom-footer.custom-pad {padding: 110px 0 0;}
    .footer-box .footer-list li {font-size: 14px;}
    .copyright {margin-top: 80px;}
    .copyright .custom-paragraph {font-size: 14px;}
    .header-logo .navbar-brand.ms-0.py-0 img {height: 80px; display: inline-block;}
    .custom-header .header-top {padding: 0px 0;}
    .custom-header .header-nav .nav-link {font-size: 15px;}
    .custom-header .header-top .demo.d-none.d-sm-block {font-size: 12px;}
    .custom-header .header-top_content.d-flex.justify-content-end .d-flex.header-top_contact li::after {height: 57px !important;}
    .custom-header .header-contact li a {padding-right: 2px;}
    .custom-heading h5 {font-size: 18px;margin-bottom: 5px;}
    .counter-part .counter-text li .custom-paragraph {font-size: 15px;}
    .procedures-content .custom-paragraph.procedures-para::after {width: 80px;top: 16px;}
    .procedures-content .custom-paragraph.procedures-para {padding: 0 0px 0 90px;}
    .procedures-btn {margin-top: 30px;}
    .galley-btn {margin-top: 20px;}
    .footer-box .custom-paragraph {font-size: 14px;line-height: 28px;}
    .custom-header .header-top_content.d-flex.justify-content-end .d-flex.header-top_contact li a {font-size: 16px;}
    .banner-btn {margin-top: 30px;}
    .testimonial-content .custom-paragraph {padding: 0 120px;}
    .footer-box.contact .footer-list li {padding-left: 20px;}
    .footer-box.contact .footer-list li span {left: -20px;font-size: 14px;}
    .footer-box img {height: 100px;}
    .about.custom-pad {padding-bottom: 180px;}
    .procedure-pattern-1 img {width: 50%;}
    .procedure-pattern-1 {right: 0;text-align: end;bottom: 33%;}
    .procedure-pattern-2 {bottom: 34%;right: 28%;}
    .procedure-pattern img {width: 50%;}
    .procedure-pattern {top: 0px;left: 0px;}
    .about-bg-1 img {width: 40% !important;height: 185px !important;}
    .about-bg-1 img {top: 85%;left: 0%;}
    .procedures.custom-pad {padding-bottom: 115px;}
    .gallery.custom-pad {padding-bottom: 95px;}
    .procedures-bottom {margin-top: 90px;}
    .testimonial.custom-pad {padding-bottom: 80px;}
    .our-company.custom-pad {padding: 80px 0;}
    .footer-box .footer-list h4 {font-size: 18px;}
    .our-company-heading {padding-left: 20px;}
    .our-company-content {padding-right: 20px;}
    .custom-header .header-nav .nav-link {font-size: 14px;letter-spacing: 0;}
    .footer-box.contact .footer-list li span {font-size: 18px;}
    .custom-header .header-contact .header-call-contact li span {font-size: 25px;padding-right: 5px;}
    .container {padding-right: 2rem;padding-left: 2rem;}
    /*About-us*/
    .about.inner.custom-pad {padding-bottom: 130px;}
    .custom-inner-banner {padding: 90px 0;}
    .custom-inner-banner .inner-banner-content h1 {font-size: 55px;}
    .about-inner-counter-content .count-number-and-unit.secondary-font {font-size: 60px;}
    .about-service-box-content .about-service-box-icon {font-size: 40px;}
    .about-inner-counter-content h4 {font-size: 24px;}
    .about-service-box-content {padding: 20px 20px;}
    .about-service-box-content h3 {font-size: 24px;}
    .about-inner-counter-content::after {height: 150px;}
    .testimonial-content .custom-paragraph {padding: 0 110px;font-size: 16px;line-height: 32px;}
    /*Gallery*/
    .gallery.custom-pad.gallery-inner .gallery-inner-btn {margin-top: 50px;}
    .gallery-inner-content-left::after {height: 160px;right: 10px;}
    /*Contact Us*/
    .contact-inner.custom-pad .contact-form {margin-top: 50px;}
    .contact-inner.custom-pad .custom-heading {padding: 0px 220px;}
    .contact-inner.custom-pad .contact-form .form-btn {margin-top: 25px;}
    /*Procedures*/
    .pro-inner.custom-pad .demo {font-size: 16px;line-height: 30px;}
    /*Procedures Inner*/
    .procedurs-inner-img {margin-top: 35px;}
    .procedurs-inner-content {margin-top: 35px;}
    /*Testimonial*/
    .testimonial-inner.custom-pad .custom-heading {margin-bottom: 60px;}
    .teti-wrap {padding: 30px 15px;}
    .teti-wrap .custom-paragraph {padding: 40px 0 20px;}
    .teti-wrap h4 {font-size: 20px !important;}
    .teti-wrap .client-img {margin-bottom: 10px;}
    .teti-wrap .client-img img {width: 80px;height: 80px;}
    .teti-wrap h6 {margin-top: 2px;font-size: 13px;}
}

@media only screen and (max-width: 991.98px) {    
.navbar-toggler .icon-bar { width: 24px;transition: .5s ease;}
.navbar-toggler.collapsed .icon-bar:nth-child(2){transform: rotate(0) translateY(0) translateX(0);}
.navbar-toggler.collapsed .icon-bar:nth-child(3){opacity:1}
.navbar-toggler.collapsed .icon-bar:nth-child(4){transform:rotate(0) translateY(0) translateX(0);}
.navbar-toggler .icon-bar:nth-child(2){transform: rotate(-45deg) translateY(5px) translateX(-5px);}
.navbar-toggler .icon-bar:nth-child(3){opacity: 0}
.navbar-toggler .icon-bar:nth-child(4){transform:rotate(45deg) translateY(-4px) translateX(-3px);}
.navbar-header {display: block;}

.custom-header::after {width: 120px;height: 93px;}
.custom-header::before {left: 120px;border-top: 31px solid transparent;border-left: 20px solid var(--c-black-900);border-bottom: 61px solid transparent;}
.custom-header .nav-item {padding: 0 0 0 6px;}
.custom-banner .banner-wrap {padding: 130px 0;}
.custom-banner .banner-wrap::after {position: absolute;content: '';background-color: rgba(255,255,255,0.7);width: 100%;height: 100%;top: 0;left: 0;z-index: 0;}
.banner-content h1 {font-size: 45px;padding-right: 0px;}
.custom-heading h2 {font-size: 30px;}
.about-bg-1 img {top: 75%;left: 0%;}
.about-bg-1 img {width: 44% !important;height: auto !important;}
.gallery-text {padding-left: 0px;margin-top: 20px;}
.testimonial.custom-pad .custom-heading {padding: 0px 90px;}
.our-company-heading .heading-1 {font-size: 35px;margin-top: 0px;}
.custom-footer.custom-pad .footer-wrap {padding: 0 15px 0 15px;}
.footer-box.padding .footer-list {padding-left: 0px;}
.header-logo {left: 10px !important;bottom: 14px !important;}
.custom-header .header-nav {padding: 0 15px 0 0;}
.custom-header .header-top_content.d-flex.justify-content-end {padding: 0 15px 0 0px;}
.custom-header .header-contact li a {font-size: 20px;}
.about.custom-pad .about-img {text-align: center;}
.about.custom-pad .about-img img {width: 90%;height: 600px;}
.about-bg-2 img {width: 9% !important;height: auto !important;}
.about-bg-2 img {right: 0%;bottom: -6%;}
.custom-header .header-contact {padding: 20px;}
.about-content {padding: 0 0px 0 20px;margin-top: 50px;}
.surgery-img img {width: 100%;height: auto;display: block;left: 0;right: 0;margin: 0 auto;top:0;position: relative;}
.procedures-content {margin-top: 40px;}
.procedures .row:first-child {flex-direction: column-reverse;}
.counter-part .counter-text li {font-size: 50px;}
.counter-part {margin-top: 20px;}
.procedures-bottom {margin-top: 50px;}
.procedures-content .custom-paragraph.procedures-para {margin-top: 40px;}
.testimonial-content {margin-top: 30px;}
.testimonial.custom-pad .quote-img img {margin-bottom: 20px;}
.testimonial.custom-pad .client-img {margin-top: 25px;}
.testimonial-content h4 {padding-top: 15px;}
.testimonial-content h6 {padding-top: 5px;font-size: 14px;}
.custom-header .header-contact li h5 {font-size: 13px;}
.custom-pad {padding: 60px 0;}
.about-content .custom-paragraph {margin-top: 20px;}
.about.custom-pad {padding-bottom: 60px;}
.counter-part .counter-text li .custom-paragraph {margin-top: 15px;line-height: 26px;}
.counter-part .counter-text li h3 {font-size: 24px;}
.procedures-bottom-text h4 {font-size: 16px;padding: 15px 25px;}
.procedures-bottom-text {bottom: -25px;}
.custom-paragraph {font-size: 16px;line-height: 28px;}
.custom-footer.custom-pad {padding: 110px 0 0;}
.footer-box .footer-list li {font-size: 14px;}
.copyright {margin-top: 60px;}
.copyright .custom-paragraph {font-size: 14px;}
.header-logo .navbar-brand.ms-0.py-0 img {height: 60px; display: inline-block;}
.custom-header .header-top {padding: 5px 0;}
.custom-header .header-nav .nav-link {font-size: 17px;}
.custom-header .header-top .demo.d-none.d-sm-block {display: none !important;}
.custom-header .header-top_content.d-flex.justify-content-end .d-flex.header-top_contact li::after {height: 40px !important;}
.custom-header .header-contact li a {padding-right: 2px;}
.custom-heading h5 {font-size: 18px;margin-bottom: 8px;}
.counter-part .counter-text li .custom-paragraph {font-size: 15px;}
.procedures-content .custom-paragraph.procedures-para::after {width: 80px;top: 16px;}
.procedures-content .custom-paragraph.procedures-para {padding: 0 0px 0 90px;}
.procedures-btn {margin-top: 30px;}
.galley-btn {margin-top: 20px;}
.footer-box .custom-paragraph {font-size: 14px;line-height: 28px;}
.custom-header .header-top_content.d-flex.justify-content-end .d-flex.header-top_contact li a {font-size: 16px !important;}
.banner-btn {margin-top: 30px;}
.testimonial-content .custom-paragraph {padding: 0 0px;}
.footer-box.contact .footer-list li {padding-left: 20px;}
.footer-box.contact .footer-list li span {left: -20px;font-size: 14px;}
.footer-box img {height: 100px;}
.custom-header .header-top_content.d-flex.justify-content-end .d-flex.header-top_contact li:last-child::after {top: -7px;height: 33px !important;}
.banner-content {text-align: center;position: relative;z-index: 2;}
.gallery-img-wrap {margin-top: 20px;}
.our-company-heading {text-align: center;}
.our-company-heading .heading-1.extra {padding-left: 0px;}
.our-company-content .our-company-btn {margin-top: 25px;}
.our-company-content {text-align: center;margin-top: 30px;}
.custom-footer.custom-pad .footer-wrap .footer-box {width: 49%;margin-bottom: 30px;}
.footer-box.padding.contact {margin-bottom: 0 !important;}
.custom-header .header-top_content.d-flex.justify-content-end .d-flex.header-top_contact li::after {left: 18px;}
.about.custom-pad .px-4 {padding-right: 15px !important;padding-left: 15px !important;}
.about.custom-pad {padding-bottom: 60px;}
.procedure-pattern-1 img {display: none;}
.procedure-pattern-1 {display: none;}
.procedure-pattern-2 {display: none;}
.procedure-pattern img {width: 50%;}
.procedure-pattern {top: 0px;left: 0px;}
.about-bg-1 img {width: 40% !important;height: auto !important;}
.about-bg-1 img {top: 85%;left: 0%;}
.procedures.custom-pad {padding-bottom: 95px;}
.gallery.custom-pad {padding-bottom: 75px;}
.procedures-bottom {margin-top: 50px;}
.testimonial.custom-pad {padding-bottom: 60px;}
.our-company.custom-pad {padding: 60px 0;}
.custom-footer.custom-pad .footer-wrap .footer-box.box-1 {width: 100%;text-align: center;}
.custom-header .header-top_icon {font-size: 18px !important;}
.footer-box .footer-list h4 {font-size: 18px;}
.our-company-heading {padding-left: 0px;}
.our-company-content {padding-right: 0px;}
.custom-header .header-nav .nav-link {font-size: 14px;}
.footer-box.contact .footer-list li span {font-size: 18px;}
.testimonial-content .custom-paragraph {padding: 0 60px;font-size: 16px;line-height: 32px;}
.custom-header {position: absolute;width: 100%;top:0;}
.custom-banner {position: relative;margin-top: 92px;}
.custom-header::before {top: 0;}
.gallery.custom-pad .px-4 {padding-right: 0px !important;padding-left: 0px !important;}
    /*About-us*/
    .about.inner.custom-pad {padding-bottom: 60px;}
    .custom-inner-banner {padding: 90px 0;position: relative;margin-top: 92px;z-index: 1;}
    .custom-inner-banner .inner-banner-content h1 {font-size: 55px;}
    .about-inner-counter-content .count-number-and-unit.secondary-font {font-size: 60px;}
    .about-service-box-content .about-service-box-icon {font-size: 40px;}
    .about-inner-counter-content h4 {font-size: 24px;}
    .about-service-box-content {padding: 20px 20px;}
    .about-service-box-content h3 {font-size: 24px;}
    .about-inner-counter-content::after {height: 140px;}
    .custom-inner-banner .inner-banner-content {text-align: center;}
    .custom-inner-banner .inner-banner-content .inner-banner-text .breadcrumb {justify-content: center;}
    .about-service.custom-pad .custom-heading {margin-bottom: 40px;}
    /*Gallery*/
    .gallery.custom-pad.gallery-inner .gallery-inner-btn {margin-top: 50px;}
    .gallery.custom-pad.gallery-inner.gallery-carousel {display: block;}
    .gallery.custom-pad.gallery-inner {display: none;}
    .gallery.custom-pad.gallery-inner.gallery-carousel #gallery-carousel {margin-top: 20px;}
    .gallery-inner-content-right {margin-top: 20px;}
    .gallery-inner-content-left::after {display: none;}
    /*Contact Us*/
    .contact-inner.custom-pad .contact-form {margin-top: 30px;padding: 40px 20px;}
    .contact-inner.custom-pad .custom-heading {padding: 0px 160px;}
    .contact-inner.custom-pad .contact-form .form-btn {margin-top: 25px;}
    .contact-inner.custom-pad .contact-map iframe {height: 300px;}
    /*Procedures*/  
    .pills-tab-wrap {flex-direction: column;}
    .pro-inner .nav-pills {flex: 0 0 100%;padding-right: 0px;flex-direction: row !important;margin: auto !important;}
    .pro-inner-pill img {width: 42px;height: 42px;padding: 2px;display: none;}
    .pro-inner .nav-pills .nav-link {height: 70px;padding: 10px;}
    .pro-inner.custom-pad #v-pills-home-tab .demo {font-size: 13px;}
    .pro-inner.custom-pad #v-pills-profile-tab .demo {font-size: 13px;}
    .pro-inner.custom-pad #v-pills-messages-tab .demo {font-size: 13px;}
    .pro-inner.custom-pad #v-pills-settings-tab .demo {font-size: 13px;}
    .pro-inner-pill {gap: 7px;}
    .pro-inner.custom-pad .demo {font-size: 14px;line-height: 25px;}
    .pro-inner .nav-pills .nav-link {border-bottom: 2px solid transparent;}
    .pro-inner .nav-pills .nav-link:first-child {border-top: 2px solid transparent;}
    .pro-inner .nav-pills .nav-link.active::before {right: 0px;width: 60px;height: 3px;top: unset;bottom: -10px;left: 0;margin: 0 auto;}
    .pro-inner .nav-pills::before {right: 0px;}
    .pro-inner-wrap {flex-direction: column;}
    .pro-inner-wrap {height: auto;margin-top: 20px;}
    .pro-inner .nav-pills::before {display: none;}
    .pro-inner-desc {margin-top: -10px;}
    .pro-inner-image img {width: 100%;height: auto;object-fit: cover;}
    /*Procedures Inner*/
    .procedurs-inner-img {margin-top: 35px;}
    .procedurs-inner-content {margin-top: 35px;}
    .procedurs-inner.custom-pad .px-4 {padding-right: 15px !important;padding-left: 15px !important;}
    /*Testimonial*/
    .testimonial-inner.custom-pad .custom-heading {margin-bottom: 25px;}
    .teti-wrap {padding: 30px 30px;}
    .teti-wrap .custom-paragraph {padding: 40px 0 20px;}
    .teti-wrap h4 {font-size: 20px !important;}
    .teti-wrap .client-img {margin-bottom: 10px;}
    .teti-wrap .client-img img {width: 80px;height: 80px;}
    .teti-wrap h6 {margin-top: 2px;font-size: 13px;}
    .testimonial-inner.custom-pad .custom-heading {padding: 0 120px;}
    .teti-wrap.add-padding {margin-bottom: 30px;}
    .testimonial-inner.custom-pad .px-4 {padding-right: 15px !important;padding-left: 15px !important;}
    .testimonial-inner.custom-pad .mb-5 {margin-bottom: 30px !important;}
}


@media (max-width: 767.98px){
.banner-content h1 {font-size: 38px;}
.custom-banner .banner-wrap {padding: 100px 0;}
.custom-button {font-size: 14px;padding: 0px 22px;height: 50px;}
.about-content {padding: 0 0px 0 0px;text-align: center;}
.about-btn {margin-top: 25px;}
.about.custom-pad {padding-bottom: 40px;}
.gallery.custom-pad .custom-heading {text-align: center;}
.gallery-text {text-align: center;}
.testimonial.custom-pad .custom-heading {padding: 0px 10px;}
.our-company-heading .heading-1 {font-size: 32px;}
.our-company-heading .heading-1.extra {margin-top: 5px;}
.footer-box .footer-list h4 {margin-bottom: 8px;}
.footer-box .footer-list li {padding: 5px 0;}
.copyright {margin-top: 30px;}
.custom-pad {padding: 40px 0;}
.our-company-content {margin-top: 20px;}
.custom-paragraph {font-size: 14px;line-height: 25px;}
.gallery.custom-pad .gallery-custom-img img {height: auto;}
.about.custom-pad {padding-bottom: 40px;}
.about-bg-1 img {width: 40% !important;height: 215px !important;}
.about-bg-1 img {top: 85%;left: 0%;}
.procedures.custom-pad {padding-bottom: 75px;}
.gallery.custom-pad {padding-bottom: 55px;}
.procedures-bottom {margin-top: 40px;}
.testimonial.custom-pad {padding-bottom: 40px;}
.our-company.custom-pad {padding: 40px 0;}
.header-logo {left: 22px !important;bottom: 17px !important;}
.footer-box .custom-paragraph {margin-top: 16px;}
.custom-footer.custom-pad {padding: 100px 0 0;}
.testimonial-content .custom-paragraph {padding: 0 0px;font-size: 15px;line-height: 28px;}
    /*About-us*/
    .about.inner.custom-pad {padding-bottom: 40px;}
    .custom-inner-banner {padding: 80px 0;}
    .custom-inner-banner .inner-banner-content h1 {font-size: 45px;}
    .about-inner-counter-content::after {display: none;}
    /*Gallery*/
    .gallery-inner-content-left {text-align: center;}
    .gallery-inner-content-right {text-align: center;}
    .gallery.custom-pad.gallery-inner .gallery-inner-btn {margin-top: 35px;}
    /*Contact Us*/
    .contact-inner.custom-pad .custom-heading {padding: 0px 90px;}
    .contact-inner.custom-pad .contact-form .form-btn {text-align: center;}
    /*procedures*/
    .pro-inner.custom-pad #v-pills-home-tab .demo {font-size: 13px;}
    .pro-inner.custom-pad #v-pills-profile-tab .demo {font-size: 13px;}
    .pro-inner.custom-pad #v-pills-messages-tab .demo {font-size: 13px;}
    .pro-inner.custom-pad #v-pills-settings-tab .demo {font-size: 13px;}
    .pro-inner .nav-pills .nav-link {height: 50px;}
    .pro-inner-wrap .right {gap: 15px;margin-top: -20px;}
    /*Procedures Inner*/
    .procedurs-inner-img {margin-top: 35px;}
    .procedurs-inner-content {margin-top: 25px;}
    /*Testimonial*/
    .testimonial-inner.custom-pad .custom-heading {padding: 0 60px;}
    .teti-wrap {padding: 30px 15px;}
    .teti-wrap {border-radius: 10px;}
    
}

@media (max-width: 575.98px){
.custom-banner .banner-wrap {background-position: 70% 0%;}
.header-icon-list {display: block !important;}
.custom-header .header-top_icon {display: none;}
.custom-header .header-top_content.d-flex.justify-content-end .d-flex.header-top_contact li::after {display: none;}
.custom-header .header-icon li {padding: 0 0px 0 15px !important;}
.banner-content h1 {font-size: 28px;}
.about.custom-pad .about-img img {width: 100%;height: auto;}
.custom-heading h2 {font-size: 24px;}
.custom-heading h5 {font-size: 16px;margin-bottom: 5px;}
.procedures-content .custom-paragraph.procedures-para::after {display: none;}
.procedures-content .custom-paragraph.procedures-para {padding: 0 0px 0 0px;}
.procedures-content {text-align: center;}
.procedures-content .custom-paragraph.procedures-para {margin-top: 20px;}
.counter-part .counter-text li h3 {font-size: 18px;}
.counter-part .counter-text li .custom-paragraph {margin-top: 15px;line-height: 22px;padding-right: 0px;}
.testimonial.custom-pad .quote-img img {width: 15% !important;}
.testimonial-content h6 {padding-top: 4px;font-size: 12px;}
.our-company-heading .heading-1 {font-size: 24px;}
.custom-footer.custom-pad .footer-wrap .footer-box {width: 100%;}
.copyright .custom-paragraph {font-size: 12px;}
.custom-header .navbar-expand-lg .navbar-nav {align-items: end;}
.custom-header .header-contact {padding: 10px 0 10px 0;}
.custom-header .header-nav .nav-link {font-size: 15px;}
.about-bg-1 img {width: 40% !important;height: auto!important;}
.about-bg-1 img {top: 65%;left: -4%;}
.about-content {margin-top: 35px;}
.counter-part .counter-text li {font-size: 40px;}
.gallery.custom-pad {padding-bottom: 45px;}
.custom-banner .banner-wrap {padding: 70px 0;}
.counter-part .counter-text {flex-wrap: wrap;text-align: center;}
.procedures-content {margin-top: 20px;}
.custom-footer.custom-pad .footer-wrap .footer-box.box-1 {text-align: left;}
.custom-button {height: 38px;}
    /*About-us*/
    .about.inner.custom-pad {padding-bottom: 40px;}
    .custom-inner-banner {padding: 80px 0;}
    .custom-inner-banner .inner-banner-content h1 {font-size: 30px;}
    .custom-inner-banner .inner-banner-content .inner-banner-text .breadcrumb-item {font-size: 14px;}
    .custom-inner-banner .inner-banner-content .inner-banner-text {margin-top: 10px;}
    .about-service.custom-pad .custom-heading {text-align: center;margin-bottom: 30px;}
    .about-service-box-content {text-align: center;}
    .about-service-box-content .about-service-box-icon {font-size: 50px;}
    .about-inner-counter-content h4 {font-size: 22px;margin-top: 6px;}
    .about-inner-counter-content .count-number-and-unit.secondary-font {font-size: 45px;}
    .about-inner-counter-content {margin-bottom: 20px;}
    /*Gallery*/
    .gallery.custom-pad.gallery-inner.gallery-carousel #gallery-carousel {margin-top: 0px;}
    /*Contact Us*/
    .contact-inner.custom-pad .custom-heading {padding: 0px 7px;}
    .contact-inner.custom-pad .contact-form {margin-top: 25px;padding: 20px 10px;}
    .contact-inner.custom-pad .contact-form .form-control {padding: 14px .75rem;font-size: 12px;}
    .contact-inner.custom-pad .contact-map {margin-top: 30px;}
    /*Procedures*/
    .pro-inner-wrap {padding: 20px;}
    .pro-inner-wrap .right {text-align: center;}
    /*Procedures Inner*/
    .procedurs-inner-img {margin-top: 20px;}
    .procedurs-inner-content {margin-top: 15px; text-align: center;}
    /*Testimonial*/
    .testimonial-inner.custom-pad .custom-heading {padding: 0 0px;}
    .teti-wrap {padding: 30px 10px;}
    .teti-wrap .custom-paragraph {padding: 20px 0 20px;}
    .teti-wrap.add-padding {margin-bottom: 20px;}
    .testimonial-inner.custom-pad .mb-5 {margin-bottom: 20px !important;}
}

