/******** Google Fonts ********/

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
/******** Color Schemes ********/

:root {

  
  /* CSS HEX */
  --c-primary: #2c2647;
  --c-secondary: #ff4f00;
  --c-tertiary: #858585; 
  --c-purple-700: #d4d1e0;
  --c-white-800: #f6fafd;
  --c-white-900: #ffffffff;
  --c-black-700: #161616;
  --c-black-800: #2d2d2d;
  --c-black-900: #090b0bff;
  
  --ff-primary: 'Syne', sans-serif;
  --ff-secondary: 'DM Sans', sans-serif;
  --ff-tertiary: 'Teko', sans-serif;
}


/******** CSS Resets ********/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a:focus, a:hover {
  outline: none;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  font-family: var(--ff-secondary);
  font-size: 19px;
  color: var(--c-tertiary);
  line-height: 41px;
  font-weight: 400;
}

body {
  font-family: var(--ff-primary);
  font-size: 14px;
  color: var(--c-black-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-primary);
  margin-bottom: 0;
}

/******** Utility Classes ********/

.container {
  max-width: 1410px;
}
.conatiner-fluid {
  padding: 0 15px;
}
/*
.fixed-top  {
  background-color: var(--c-white-800) !important;
} */

/******** Custom Properties ********/
.custom-pad {
  padding: 130px 0;
}
.custom-header {
  /* change header bg here */
  background-color: var(--c-white-900);
  position: relative;
  z-index: 2;
}
.custom-button  {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-secondary);
  color: var(--c-white-900);
  border: 2px solid transparent;
  font-family: var(--ff-tertiary);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0px 30px;
  height: 56px;
  letter-spacing: 1px;
  position: relative;
  line-height: 0;
}
/* If there is a button icon */
.custom-button {
  gap: 0 10px;
}
.custom-button span {
  margin: 0;
  margin-left: 12px;
}
/* Basic Button Hover */
.custom-button:hover {
  background-color: transparent;
  color: var(--c-primary);
  border-color: var(--c-primary);
}

.custom-button_form {
  background-color: transparent;
  padding: 0;
  font: inherit; /* add custom-button fonts */
  color: inherit; /* add custom-button color */
  text-transform: inherit; /* add custom-button text-transform */
  border: none;
}

/* *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* HOMEPAGE START *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* */

/* *************** Header Section Start *************** */

.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler {
  position: relative;
  padding: 9px 10px;
  background-image: none;
  border: 1px solid transparent;
  margin: 0;
  height: 45px;
  width: 45px;
  border-radius: 0;
  z-index: 1;
}
.navbar-toggler { 
  /*change the hamburger menu bg */
  background-color: black;
}
.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggler .icon-bar { 
  /*change the hamburger bars color */
  background-color: #fff;
}
.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}
.custom-header::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-top: 73px solid transparent;
  border-left: 40px solid var(--c-black-900);
  border-bottom: 110px solid transparent;
  left: 300px;
  top: auto;
  bottom: 0;
}
.custom-header::after {
  position: absolute;
  content: '';
  background-color: var(--c-black-900);
  width: 300px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.custom-header .header-logo {
  position: relative;
  z-index: 2;
  left: 105px;
  bottom: 40px;
}
.custom-header .header-logo img {
  width: 75%;
}
.custom-header .header-top_content.d-flex.justify-content-end {
  padding: 0 70px 0 0px;
}
.custom-header .header-nav {
  padding: 0 70px 0 0;
}
.custom-header .navbar-expand-lg .navbar-nav {
  align-items: center;
}
.custom-header .nav-item {
  padding: 0 0 0 65px;
}
.custom-header .header-icon li {
  display: inline-block;
  padding: 0 0px 0 25px !important;
}
.custom-header .header-icon li:first-child {
  padding: 0 0px 0 0px !important;
}
.custom-header .header-top_content.d-flex.justify-content-end .d-flex.header-top_contact li {
  padding: 0 0 0 45px;
  position: relative;
}
.custom-header .header-top_content.d-flex.justify-content-end .d-flex.header-top_contact li::after {
  position: absolute;
  content: '';
  background-color: #e0e0e0;
  width: 1px;
  height: 72px;
  top: -15px;
  left: 21px;
}
.custom-header .header-top_content.d-flex.justify-content-end .d-flex.header-top_contact li:last-child::after {
  top: -26px;
  height: 73px;
}
.custom-header .header-top_content.d-flex.justify-content-end .d-flex.header-top_contact li:first-child:after {
  display: none;
}
.custom-header .header-icon li::after {
  display: none;
}
.custom-header .header-nav .nav-link {
  font-family: var(--ff-tertiary);
  font-size: 17px;
  font-weight: 500;
  color: var(--c-primary);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.custom-header .header-nav .nav-link:hover {
  color: var(--c-tertiary);
}
.custom-header .header-contact li {
  display: inline-block;
  vertical-align: middle;
}
.custom-header .header-contact li a {
  text-decoration: none;
  color: #54524d;
  font-size: 40px;
  padding-right: 6px;
  transition: all 0.3s ease-in-out;
}
.custom-header .header-contact li a:hover {
  color: var(--c-primary);
}
.custom-header .header-contact li h6 {
  font-family: var(--ff-secondary);
  font-size: 12px;
  font-weight: 400;
  color: var(--c-tertiary);
}
.custom-header .header-contact li h5 {
  font-family: var(--ff-secondary);
  font-size: 16px;
  font-weight: 500;
  color: var(--c-tertiary);
  margin-top: 5px;
}
.custom-header .header-contact {
  padding-left: 35px;
}
.custom-header .header-top_icon {
  padding-right: 10px;
  color: var(--c-tertiary);
  font-size: 28px;
  line-height: 0;
}
.custom-header .header-top {
  padding: 16px 0;
  border-bottom: 1px solid #e0e0e0;
}
.custom-header .header-top .demo.d-none.d-sm-block {
  font-family: var(--ff-secondary);
  font-size: 14px;
  font-weight: 400;
  color: var(--c-tertiary);
  transition: all 0.2s ease-in-out;
}
.custom-header .header-top .demo.d-none.d-sm-block:hover {
  color:var(--c-primary);
}
.custom-header .header-top_content.d-flex.justify-content-end .d-flex.header-top_contact li a {
  text-decoration: none;
  color: #222;
  font-size: 17px;
  transition: all 0.2s ease-in-out;
}
.custom-header .header-top_content.d-flex.justify-content-end .d-flex.header-top_contact li a:hover {
  color:var(--c-tertiary);
}
.custom-header .d-flex.header-top_contact {
  align-items: center;
}
/* *************** Header Section End *************** */
/*Custom-heading*/
.custom-heading h5 {
  font-family: var(--ff-primary);
  font-size: 22px;
  font-weight: 500;
  color: var(--c-primary);
  margin-bottom: 15px;
}
.custom-heading h2 {
  font-family: var(--ff-primary);
  font-size: 70px;
  font-weight: 500;
  color: var(--c-primary);
  text-transform: capitalize;
}
/*Custom-heading*/
/*Custom-paragraph*/

/*Custom-paragraph*/
/* *************** <add section name> Section Start *************** */
/*Banner*/
.custom-banner .banner-wrap {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 215px 0;
  position: relative;
}
.banner-content h1 {
  font-family: var(--ff-primary);
  font-size: 70px;
  font-weight: 500;
  color: var(--c-primary);
  padding-right: 640px;
}
.banner-btn {
  margin-top: 50px;
}
/*About*/
.about.custom-pad {
  padding-bottom: 322px;
  position: relative;
}
.about.custom-pad .about-img img {
  width: 95%;
  object-fit: cover;
  height: 725px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
}
.about.custom-pad .about-img {
  position: relative;
  border-radius: 20px;
}
.about-bg-1 img {
  width: 70% !important;
  height: 460px !important;
  border-radius: 0px !important;
  box-shadow: 0 0 0px rgba(0,0,0,0) !important;
}
.about-bg-1 img {
  position: absolute;
  top: 60%;
  left: -30%;
  z-index: -1;
}
.about-bg-2 img {
  width: 10% !important;
  height:70px !important;
  border-radius: 0px !important;
  box-shadow: 0 0 0px rgba(0,0,0,0) !important;
}
.about-bg-2 img {
  position: absolute;
  bottom: 4%;
  right: -12%;
  z-index: -1;
}
.about-content {
  padding: 0 0px 0 80px;
}
.about-content .custom-paragraph {
  margin-top: 40px;
}
.about-btn {
  margin-top: 38px;
}
/*Procedures*/
.procedures.custom-pad {
  background-color: #2c2647;
  position: relative;
  padding-bottom: 202px;
}

.surgery-img img {
  width: 35%;
  object-fit: cover;
  height: 750px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  position: absolute;
  top: -100px;
  z-index: 2;
}
.counter-part .counter-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.procedures-content .custom-heading h5 {
  color: var(--c-white-900);
}
.procedures-content .custom-heading h2 {
  color: var(--c-white-900);
}
.procedures-content .custom-paragraph.procedures-para {
  color: var(--c-purple-700);
  padding: 0 10px 0 120px;
  margin-top: 60px;
  position: relative;
}
.procedures-content .custom-paragraph.procedures-para::after {
  position: absolute;
  content: '';
  background-color: var(--c-secondary);
  width: 100px;
  height: 2px;
  top: 20px;
  left: 0;
}
.procedures-btn {
  margin-top: 50px;
}
.counter-part .counter-text li {
  font-family: var(--ff-primary);
  font-size: 80px;
  font-weight: 500;
  color: var(--c-secondary);
}
.counter-part .counter-text li h3 {
  font-family: var(--ff-primary);
  font-size: 28px;
  font-weight: 500;
  color: var(--c-white-900);
}
.counter-part .counter-text li .custom-paragraph {
  color: var(--c-purple-700);
  font-size: 17px;
  line-height: 30px;
  margin-top: 25px;
  padding-right: 30px;
}
.counter-part {
  margin-top: 85px;
  position: relative;
}
.procedure-pattern {
  position: absolute;
  top: -40px;
  left: -190px;
}
.procedure-pattern img {
  width: 100%;
  object-fit: cover;
}
.procedures-bottom-wrap img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.procedures-bottom {
  margin-top: 100px;
}
.procedures-bottom-wrap {
  position: relative;
}
.procedures-bottom-text {
  position: absolute;
  bottom: -35px;
  text-align: center;
  left: 0;
  right: 0;
}
.procedures-bottom-text h4 {
  font-family: var(--ff-primary);
  font-size: 20px;
  font-weight: 500;
  background-color: var(--c-white-800);
  display: inline-block;
  padding: 25px 55px;
  border-radius: 10px;
}
.procedures-bottom-text h4 a {
  text-decoration: none;
  color: var(--c-black-800);
}
.procedures.custom-pad .custom-button:hover {
  color: var(--c-white-900);
  border-color: var(--c-white-900);
}
.procedure-pattern-1 {
  position: absolute;
  right: 70px;
  bottom: 38%;
  z-index: 0;
}
.procedure-pattern-1 img {
  width: 100%;
  object-fit: cover;
}
.procedure-pattern-2 {
  position: absolute;
  bottom: 40%;
  z-index: 0;
  right: 33%;
}
.procedure-pattern-2 img {
  width: 100%;
  object-fit: cover;
}
/*Gallery*/
.gallery.custom-pad {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  padding-bottom: 165px;
}
.gallery.custom-pad .gallery-custom-img img {
  width: 100%;
  object-fit: cover;
  height: 680px;
  border-radius: 20px;
}
.gallery-text {
  padding-left: 220px;
}
.galley-btn {
  margin-top: 30px;
}
.gallery-img-wrap {
  margin-top: 60px;
}
/*Testimonial*/
.testimonial.custom-pad .custom-heading {
  padding: 0px 150px;
  text-align: center;
}
.testimonial.custom-pad {
  background-color: var(--c-white-800);
  padding-bottom: 97px;
}
.testimonial.custom-pad .quote-img img {
  width: 6% !important;
  object-fit: cover;
  margin-bottom: 60px;
}
.testimonial.custom-pad .client-img img {
  width: 7% !important;
  object-fit: cover;
  height: 96px;
  border-radius: 100px;
}
.testimonial.custom-pad .quote-img {
  justify-content: center;
  display: flex;
}
.testimonial.custom-pad .client-img {
  justify-content: center;
  display: flex;
  margin-top: 50px;
}
.testimonial-content h4 {
  font-family: var(--ff-primary);
  font-size: 20px;
  color: var(--c-black-800);
  font-weight: 500;
  padding-top: 25px;
}
.testimonial-content .custom-paragraph {
  padding: 0 200px;
}
.testimonial-content h6 {
  font-family: var(--ff-primary);
  font-size: 16px;
  color: var(--c-black-800);
  font-weight: 400;
  padding-top: 10px;
}
.testimonial-content {
  text-align: center;
  margin-top: 85px;
}
.our-company.custom-pad {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  position: relative;
  padding: 115px 0;
}
/*Our Company*/
.our-company-heading .heading-1 {
  font-family: var(--ff-primary);
  font-size: 60px;
  font-weight: 500;
  color: var(--c-white-900);
}
.our-company-heading  .heading-1.extra {
  margin-top: 18px;
  padding-left: 50px;
}
.our-company-content .custom-paragraph {
  color: var(--c-purple-700);
}
.our-company-content .our-company-btn {
  margin-top: 35px;
}
.our-company-content .our-company-btn .custom-button:hover {
  color: var(--c-white-900);
  border-color: var(--c-white-900);
}
.our-company-heading {
  padding-left: 150px;
}
.our-company-content {
  padding-right: 150px;
}
/*Footer*/
.custom-footer.custom-pad .footer-wrap .footer-box {
  display: inline-block;
  width: 19%;
  vertical-align: top;
}
.custom-footer.custom-pad .footer-wrap {
  padding: 0 50px 0 130px;
}
.custom-footer.custom-pad .footer-wrap .footer-box img {
  margin-top: -60px;
}
.footer-box .footer-list {
  display: inline-block;
  vertical-align: top;
}
.footer-box .footer-list h4 {
  font-family: var(--ff-primary);
  font-size: 23px;
  font-weight: 500;
  color: var(--c-black-800);
  margin-bottom: 32px;
}
.footer-box .footer-list li {
  font-family: var(--ff-secondary);
  font-size: 17px;
  font-weight: 400;
  padding: 10px 0;
}
.footer-box  .footer-list li a {
  text-decoration: none;
  color: var(--c-tertiary);
  transition: all 0.3s ease-in-out;
}
.footer-box  .footer-list li a:hover {
  color:var(--c-primary)
}
.footer-box.contact .footer-list li a {
  text-decoration: none;
  color: var(--c-tertiary);
  position: relative;
  transition: all 0.3s ease-in-out;
}
.footer-box.contact .footer-list li a:hover {
  color:var(--c-primary)
}
.footer-box.contact .footer-list li {
  padding-left: 35px;
  position: relative;
  padding-bottom: 10px;
}
.footer-box.contact .footer-list li span {
  position: absolute;
  top:-6px;
  left: -35px;
  font-size: 24px;
}
.footer-box.padding .footer-list {
  padding-left: 60px;
}
.footer-box.contact .footer-list {
  padding-left: 0px;
}
.copyright {
  text-align: center;
  background-color: var(--c-black-800);
  padding: 15px 0;
  margin-top: 75px;
}
.copyright .custom-paragraph {
  font-family: var(--ff-secondary);
  font-size: 17px;
  font-weight: 400;
  color: var(--c-white-900);
}
.custom-footer.custom-pad {
  padding: 125px 0 0;
}
.footer-box .custom-paragraph {
  margin-top: 36px;
  font-size: 17px;
  line-height: 32px;
}
/* *************** <add section name> Section End *************** */

/* *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* HOMEPAGE END *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* */
/* *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* INNER PAGE START *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* */
.custom-inner-banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 130px 0;
  position: relative;
  z-index: 2;
}
.custom-inner-banner::after {
  position: absolute;
  content: '';
  background-color: rgba(44,38,71,0.92);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.custom-inner-banner .inner-banner-content h1 {
  font-size: 70px;
  font-family: var(--ff-primary);
  font-weight: 500;
  color: var(--c-white-900);
}
.custom-inner-banner .inner-banner-content .inner-banner-text .breadcrumb-item {
  font-family: var(--ff-secondary);
  font-size: 20px;
  font-weight: 500;
  color: var(--c-white-900);
}
.custom-inner-banner .inner-banner-content .inner-banner-text .breadcrumb-item a {
  text-decoration: none;
  color: var(--c-white-900);
  transition: all 0.3s ease-in-out;
}
.custom-inner-banner .inner-banner-content .inner-banner-text .breadcrumb-item a:hover {
  color: var(--c-secondary);
}
.custom-inner-banner .inner-banner-content .inner-banner-text {
  margin-top: 12px;
}
.custom-inner-banner .inner-banner-content .inner-banner-text .breadcrumb-item + .breadcrumb-item::before {
  color: var(--c-white-900);
}
.custom-inner-banner .inner-banner-content .inner-banner-text .breadcrumb {
  margin-bottom: 0rem;
}
/*About-Us*/
.about-service.custom-pad {
  background-color: #2c2647;
}
.about-service-box {
  background-color: var(--c-white-900);
  border-radius: 10px;
  margin-bottom: 25px;
}
.about-service-box-content {
  padding: 30px 30px;
}
.about-service-box-content .custom-paragraph {
  padding: 10px 0 25px;
}
.about-service-box-content .about-service-box-icon {
  font-size: 70px;
  color: var(--c-secondary);
  transition: all 0.3s ease-in-out;
}
.about-service-box:hover .about-service-box-icon {
  color: var(--c-primary);
}
.about-service.custom-pad .custom-heading h5 {
  color: var(--c-white-900);
}
.about-service.custom-pad .custom-heading h2 {
  color: var(--c-white-900);
}
.about-service.custom-pad .custom-heading {
  margin-bottom: 70px;
}
.about-inner-counter {
  background-color: #2c2647;
}
.about-inner-counter-content {
  text-align: center;
  position: relative;
}
.about-inner-counter-content.last-child::after {
  display: none;
}
.about-inner-counter-content::after {
  position: absolute;
  content: '';
  background-color: var(--c-purple-700);
  width: 1px;
  height: 180px;
  right: 0;
  top: 0;
}
.about-inner-counter-content .count-number-and-unit.secondary-font {
  font-family: var(--ff-primary);
  font-size: 80px;
  font-weight: 500;
  color: var(--c-secondary);
}
.about-inner-counter-content h4 {
  font-family: var(--ff-secondary);
  font-size: 32px;
  color: var(--c-white-900);
  font-weight: 600;
  margin-top: 20px;
}
/*Gallery*/
.gallery.custom-pad.gallery-inner {
  background-color: var(--c-white-800);
}
.gallery.custom-pad.gallery-inner .gallery-inner-btn {
  text-align: center;
  margin-top: 70px;
}
.gallery.custom-pad.gallery-inner.gallery-carousel {
  display: none;
}
.gallery-inner-content-left {
  position: relative;
}
.gallery-inner-content-left::after {
  position: absolute;
  content: '';
  background-color: var(--c-tertiary);
  width: 1px;
  height: 180px;
  top: 12px;
  right: 30px;
  opacity: 0.4;
}
/*Contact Us*/
.contact-inner.custom-pad {
  background-color: var(--c-white-800);
}
.contact-inner.custom-pad .custom-heading {
  text-align: center;
  padding: 0 200px;
}
.contact-inner.custom-pad .contact-form {
  margin-top: 80px;
  padding: 70px;
  background-color: var(--c-white-900);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}
.contact-inner.custom-pad .contact-form .form-control {
  padding: 20px .75rem;
  border-radius: 8px;
  font-size: 14px;
  font-family: var(--ff-primary);
  font-weight: 400;
  letter-spacing: 1.5px;
}
.contact-inner.custom-pad .contact-form .custom-button {
  transition: all 0.3s ease-in-out;
}
.contact-inner.custom-pad .contact-form .form-btn {
  margin-top: 40px;
}
.contact-inner.custom-pad .contact-map {
  margin-top: 40px;
}
.contact-inner.custom-pad .contact-map iframe {
  width: 100% !important;
  border-radius: 10px;
}
/*Procedures*/
.pro-inner .nav-pills {
  flex: 0 0 30%;
  position: relative;
  padding-right: 16px;
}
.pro-inner .nav-pills::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #f2f0fd;
  right: 0px;
  border: 5px;
}
.pro-inner .nav-pills .nav-link.active, .pro-inner .nav-pills .show > .nav-link {
  color: #fff;
  background-color: var(--c-primary);
  position: relative;
}
.pro-inner .nav-pills .nav-link.active::before  {
  content: '';
  position: absolute;
  width: 3px;
  height: 40px;
  background-color: var(--c-secondary);
  right: -17px;
  border: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.pro-inner .nav-pills .nav-link {
  height: 100px;
  border-radius: 0;
}
.pro-inner .nav-pills .nav-link {
  border-bottom: 2px solid rgba(237, 235, 248, 0.6);
}
.pro-inner .nav-pills .nav-link:first-child {
  border-top: 2px solid rgba(237, 235, 248, 0.6);
}
.pro-inner-pill {
  gap: 15px;
}
.pro-inner-pill img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50px;
  border: 1px dashed var(--c-primary);
  padding: 8px;
}
.pro-inner .nav-pills .nav-link.active .pro-inner-pill img  {
  border-color: var(--c-white);
}
.pro-inner-pill span {
  display: inline-flex;
  text-transform: capitalize;
  margin: 0;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: var(--c-primary);
}
.pro-inner .nav-pills .nav-link.active .pro-inner-pill span {
  color: var(--c-white);
}
.pro-inner-wrap {
  height: 400px;
  gap: 40px;
  background-color: rgb(255, 242, 236);
  padding: 40px;
  border-radius: 10px;
}
.pro-inner-wrap .right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.pro-inner-image img {
  width: 298px;
  height: 298px;
  object-fit: cover;
  border-radius: 10px;
}
/*Procedures Inner*/
.procedurs-inner-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.procedurs-inner.custom-pad .custom-heading {
  text-align: center;
}
.procedurs-inner-img {
  margin-top: 80px;
}
.procedurs-inner-content {
  margin-top: 80px;
}
.custom-paragraph.second-para {
  border-top: 1px solid var(--c-tertiary);
  border-top-style: dashed;
  padding-top: 20px;
}
.procedurs-inner-content .custom-paragraph {
  padding-bottom: 20px;
}
/*Testimonial*/
.recent-client .testimonial-content .custom-paragraph {
  padding: 0 0px;
}
.recent-client .testimonial-content-2 .custom-paragraph {
  padding: 0 0px;
}
.recent-client .testimonial-content {
  margin-top: 0px;
  border-bottom:1px dashed var(--c-tertiary);
  padding-bottom: 30px;
}
.recent-client .testimonial-content-2 {
  margin-top: 20px;
}
.recent-client {
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  padding: 50px;
  border-radius: 10px;
}
.testimonial-content.second-review {
  border-bottom: 1px dashed transparent;
  padding-bottom: 0px;
  padding-top: 20px;
}
/* *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* INNER PAGE END *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* */