/******** Google Fonts ********/

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
/******** Color Schemes ********/

:root {

  
  /* CSS HEX */
  --c-primary: #2c2647;
  --c-secondary: #ff4f00;
  --c-tertiary: #858585; 

  --c-white-900: #ffffffff;
  --c-black-700: #161616;
  --c-black-800: #2d2d2d;
  --c-black-900: #090b0bff;
  
  --ff-primary: 'Syne', sans-serif;
  --ff-secondary: 'DM Sans', sans-serif;
  --ff-tertiary: 'Teko', sans-serif;
}


/******** CSS Resets ********/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a:focus, a:hover {
  outline: none;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--c-black-text);
  line-height: 18px;
  font-weight: 400;
}

body {
  font-family: var(--ff-primary);
  font-size: 14px;
  color: var(--c-black-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-primary);
  margin-bottom: 0;
}

/******** Utility Classes ********/

.container {
  max-width: 1410px;
}
/*
.fixed-top  {
  background-color: var(--c-white-800) !important;
} */

/******** Custom Properties ********/
.custom-pad {
  padding: 120px 0;
}
.custom-header {
  /* change header bg here */
  background-color: var(--c-white-900);
  position: relative;
  z-index: 2;
}
.custom-button  {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-secondary);
  color: var(--c-white-900);
  border: 2px solid transparent;
  font-family: var(--ff-tertiary);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0px 30px;
  height: 56px;
  letter-spacing: 1px;
  position: relative;
}
/* If there is a button icon */
.custom-button {
  gap: 0 10px;
}
.custom-button span {
  margin: 0;
}
/* Basic Button Hover */
.custom-button:hover {
  background-color: transparent;
  color: var(--c-primary);
  border-color: var(--c-primary);
}

.custom-button_form {
  background-color: transparent;
  padding: 0;
  font: inherit; /* add custom-button fonts */
  color: inherit; /* add custom-button color */
  text-transform: inherit; /* add custom-button text-transform */
  border: none;
}

/* *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* HOMEPAGE START *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* */

/* *************** Header Section Start *************** */

.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler {
  position: relative;
  padding: 9px 10px;
  background-image: none;
  border: 1px solid transparent;
  margin: 0;
  height: 45px;
  width: 45px;
  border-radius: 0;
  z-index: 1;
}
.navbar-toggler { 
  /*change the hamburger menu bg */
  background-color: black;
}
.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggler .icon-bar { 
  /*change the hamburger bars color */
  background-color: #fff;
}
.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}
.custom-header::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-top: 61px solid transparent;
  border-left: 80px solid var(--c-black-900);
  border-bottom: 132px solid transparent;
  left: 370px;
  top: auto;
  bottom: 0;
}
.custom-header::after {
  position: absolute;
  content: '';
  background-color: var(--c-black-900);
  width: 370px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.header-logo {
  position: relative;
  z-index: 2;
  left: -60px;
  bottom: 40px;
}
.custom-header .navbar-expand-lg .navbar-nav {
  align-items: center;
}
.custom-header .nav-item {
  padding: 0 0 0 20px;
}
.custom-header .header-top_content.d-flex.justify-content-end .d-flex.header-top_contact li {
  padding: 0 0 0 15px;
}
.custom-header .header-top_icon {
  padding-right: 10px;
}
.custom-header .header-icon li {
  display: inline-block;
  padding: 0 0px 0 20px;
}
.custom-header .header-top {
  padding: 20px 0;
  border-bottom: 1px solid gray;
}
/* *************** Header Section End *************** */

/* *************** <add section name> Section Start *************** */
/*Banner*/
.custom-banner .banner-wrap {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 345px 0;
  position: relative;
}
/*About*/
.about.custom-pad {
  padding-bottom: 290px;
  position: relative;
}
.about.custom-pad .about-img img {
  width: 100%;
  object-fit: cover;
  height: 725px;
}
.about.custom-pad .about-img {
  position: relative;
}
.about-bg-1 img {
  width: 70% !important;
  height: 460px !important;
}
.about-bg-1 img {
  position: absolute;
  top: 60%;
  left: -30%;
  z-index: -1;
}
.about-bg-2 img {
  width: 10% !important;
  height:70px !important;
}
.about-bg-2 img {
  position: absolute;
  bottom: 4%;
  right: -17%;
  z-index: -1;
}
.about-content {
  padding: 0 0px 0 80px;
}
/*Procedures*/
.procedures.custom-pad {
  background-color: #2c2647;
}
.surgery-img img {
  width: 100%;
  object-fit: cover;
}
.procedure-pattern-1 img {
  width: 30% !important;
  object-fit: cover;
}
.procedure-pattern-2 img {
  width: 30% !important;
  object-fit: cover;
}
.counter-part .counter-count li {
  display: inline-block;
}
.counter-part .counter-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* *************** <add section name> Section End *************** */

/* *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* HOMEPAGE START *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* */